@import "hirohitoVariable.css";

html {
    scroll-behavior: smooth;
}

/* 首頁大圖 */
.mainBanner {
    width: 100%;
    min-width: 900px;
    min-height: 700px;
    height: 100vh;
    max-height: 1080px;
    background-color: var(--backgroundGrey);
    position: relative;
    overflow: hidden;
}

.bannerImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainBackgroundSun,
.geishia {
    object-position: right;
}

.mainBannerText_mobile {
    display: none;
}

/* Section01 裕仁行的簡述  */
.section01 {
    width: 90%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.section01Container {
    height: 100vh;
    min-height: 600px;
    display: flex;
    overflow: hidden;
}

.section01Banner {
    margin: 1rem;
    flex: 0 0 50%;
    background-color: var(--backgroundTransparentBlack);
    border-radius: 2rem;
    max-width: 700px;
    position: relative;
    box-shadow: var(--boxShadow);
}

.section01BannerImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    overflow-y: visible;
    -webkit-overflow-y: visible;
    border-radius: 2rem;
}

.section01BannerImgBackground {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 2rem;
    object-fit: cover;
}

.section01CatchLine {

    height: 80%;
    margin-top: 2rem;
    min-height: 600px;
    overflow: auto;

    text-align: justify;
    margin-left: 2rem;
    align-self: center;
    line-height: var(--lineHeight);
}

/*  Youtube 單一影片單元 */
.videoUnoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.youtubeEmbeded {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    flex-grow: 1;
    border-radius: 1rem;
}

.videoUnoSupplement .youtubeEmbeded {
    border: 0.5rem red solid;
}

.booksRecommendation .youtubeEmbeded {
    border: 0.3rem red solid;
}

.section01Sub {
    background-image: url(../img/section02Banner/556_1656_sideBanner-background.png);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 0rem 1rem 0rem;
}

.youtubeVideoContainer {
    flex: 0 0 50%;
}

.youtubeVideoContainer p {
    margin-right: 2rem;
}

.youtubeEmbeded iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.youtubeContentDescription {
    font-size: var(--mainTextSize);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moreBooksContent .coverAndText {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

.moreBooksContent .coverAndText .bookCover {
    flex: 0 0 50%;
}


.coverAndText {
    display: flex;
    flex-direction: row;
}


.youtubeContentDescription .bookCoverImg {
    width: 100%;
}

.booksDosModule {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

.booksDosModule .bookCoverImg {
    max-width: 500px;
    object-fit: contain;
    aspect-ratio: 4 / 3;
}

.booksDosModule .coverAndText {
    flex: 0 0 50%;
    gap: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--coverAndTextBackground);
    border-radius: 1rem;
}


.bookText.bookAddedYoutube {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.youtubeAdded {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

.youtubeAdded .youtubeVideoContainer {
    order: 0;
    flex: 0 0 70%;
}

.youtubeAdded .youtubeVideoContainer.bookTwo {
    order: 0;
    flex: 0 0 50%;
}

/* 單元二 太子行程*/
.section02 {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-image: url(../img/section02Banner/400_3000_sideBanner.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5rem;

}

.sideBanner {
    flex: 0 0 25%;
}


.mainItinerary {

    padding: 2rem 2rem 2rem 5rem;
    /* background-color: var(--backgroundTransparentBlack); */
    background: linear-gradient(to right,
            var(--bkLinearTransparentGrey01) 1%,
            var(--bkLinearTransparentGrey03) 7%,
            var(--bkLinearTransparentGrey05) 9%,
            var(--bkLinearTransparentGrey09) 12%,
            var(--bkLinearTransparentGrey10)15%);

}

.itineraryText {
    font-style: normal;
    white-space: nowrap;
    line-height: 4.5rem;
    margin: 1rem;
}

.itineraryBannerText {
    font-weight: 900;
    font-size: 4.5rem;
    font-style: normal;
    white-space: nowrap;
    color: white;
    background-color: black;
    padding-left: 1rem;
}

.dayNumber {
    margin-top: 1rem;
    background-color: rgba(111, 110, 110, 0.5);
    font-size: 2rem;
    padding-left: 0.5rem;
}

.dayContent {
    font-size: 1.5rem;
}

.dayContent p {
    margin: 0.5rem;
    line-height: 1.8rem;
}

.dayContent span {
    background-color: rgb(93, 84, 84);
    border-radius: 0.2rem;
    color: white;
    padding: 0rem 1rem 0rem 1rem;
    margin-right: 0.2rem;
    font-size: 1.2rem;
}

.daysItineraryList {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.daysItineraryList ul {
    list-style: none;
}

.daysItineraryListColumn01 {
    flex: 0 0 50%;
}

/* section03 */

.section03 {
    background-image: url(../img/section02Banner/556_1656_sideBanner-background.png);
    background-size: cover;
    background-repeat: repeat;
}



.pastAndPresentImg {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top right;
}

.pastAndPresentBannerMobile {
    display: none;
}

.pastAndPresentDescription {
    padding: 2rem;
    margin: auto;
    width: 50%;
    color: white;
    text-align: justify;
}

/*  */
/* 互動卡：基本設定 > 卡片基本設定 */

.cardsContainer {
    /* border: 1px solid red; */
    margin: 1rem;

}

/* scroll bar design  */

::-webkit-scrollbar {
    width: 1em;
    height: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border: 0.2rem solid black;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background: url(../img/section02Banner/556_1656_sideBanner-background.png);
}

/*  */
.cardsDeck {
    display: flex;
    margin-bottom: 1rem;
    overflow: auto;
}


.buildingNowAndThen {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.card {
    width: 300px;
    min-width: 300px;
    height: 60vh;
    min-height: 450px;
    max-height: 500px;
    /* margin: auto; */
    padding: 0.5rem;
}

.card__inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background-color: white;
}

.card__face--front {
    background-image: linear-gradient(to bottom right,
            var(--cardBKColor_c01) 50%,
            var(--cardBKColor_c02) 100%);
}

.card__face--front .buildingNowAndThen {
    border: var(--cardTransparentBackground_End) solid 2px;
}

.card__face--back .buildingNowAndThen {
    border: black solid 2px;
}

.card__face--back {
    background-image: linear-gradient(to bottom,
            var(--cardBKColor_c03) 80%,
            var(--cardBKColor_c04) 100%);
}

.card__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card__face--front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.card__face--back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: rotateY(180deg);

}

.card__face--front h2,
.card__face--back h2 {
    margin: 0.2rem;
}


/* 四本書模組 */
.booksCuatroModule {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;

}


.booksCuatroModule .coverAndText {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    gap: 1rem;
    box-shadow: 2px 2px 2px black;
    border-radius: 1rem;
    background-color: var(--coverAndTextBackground);
}

.booksCuatroModule img {
    width: 200px;
    aspect-ratio: 3/4;
    object-fit: contain;
}



/* section04 */
.theWorldEventsBanner {
    position: relative;
}

.theWorldEventsContent {
    margin-top: 0.2rem;
}

.theWorldEventsImg {
    width: 100%;
}

.section04BannerDescription {
    position: absolute;
    top: 5rem;
    transform: translateX(20%);
    width: 60%;
}

.section04BannerH1 {
    color: black;
    text-shadow: 0.05rem 0.05rem 0.05rem white;
}

.section04BannerDescription p {
    max-width: 50rem;
    font-size: 1.5rem;
}


.theWorldEventsBanner .event1920 {
    position: absolute;
    bottom: 0;
    transform: translateX(30%);
}

.event1920 {
    display: flex;
}

.decadesEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
}

.flagInParagraph {
    float: left;
    padding-right: 0.5rem;
    width: 6rem;
}

.eventBookCover {
    float: left;
    padding-top: 0.5rem;
    padding-right: 0.6rem;
    width: 4rem;
}

.event {
    border-radius: 0.5rem;
    max-width: 250px;
    /* min-height: 100px; */
    margin: 0.2rem;
    padding: 0.8rem 1rem 2rem 1rem;
    background-color: var(--backgroundGrey);
    flex-grow: 1;
}

.event p {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: justify;
    font-size: 1.6rem;
}

.event.yearTag {
    border: grey solid 0.2rem;
    flex-grow: 0;
    width: 13rem;
}

.event.yearTag p {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 1);
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;
}



.event.mainEvent {
    font-weight: 900;
    color: white;
    background-color: rgba(111, 110, 110, 0.8);
}

.event.specialEvent {
    display: flex;
    flex-direction: column;
}

.olympics {
    margin-top: 1rem;
    filter: grayscale(0.7);
}

/* no idea what to animate */
.olympicsMove:hover .olympics {
    filter: grayscale(0);
}



.trojanHorse {
    width: 12rem;
    padding: 1rem;
    align-self: center;
    filter: drop-shadow(5px 10px 10px grey);
}

.trojanHorseMove:hover .trojanHorse {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.companyLogo {
    margin-top: 1rem;
    width: 80%;
    align-self: center;
    transform: rotate(-10deg);
    box-shadow: 2px 2px 5px black;
}

audio {
    width: 100%;
    margin-top: 2rem;
}

.companyLogoMove:hover .companyLogo {
    animation: rotateSelf 0.5s;

}

@keyframes rotateSelf {
    0% {
        transform: rotate(10deg);
    }
}

.torii {
    margin-top: 1rem;
    width: 80%;
    align-self: center;
    filter: grayscale(0.7);
}

.toriiMove:hover .torii {
    animation: grayScaleAnimation 3s linear forwards;
}

.bombs {
    margin-top: 1rem;
    width: 7rem;
    align-self: center;
    filter: grayscale(0.9);
}

.bombsMove:hover .bombs {
    animation: grayScaleAnimation 0.3s infinite;
}

@keyframes grayScaleAnimation {
    50% {
        filter: grayscale(0.1);
    }

    100% {
        filter: grayscale(0.9);
    }
}

.dove {
    width: 10rem;
    align-self: center;
    margin-top: 1rem;
    filter: drop-shadow(5px 10px 10px grey);
}

.marvelSet {
    width: 100%;
    position: relative;
}

.marvelLogo {
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    filter: grayscale(0.7) drop-shadow(0px -5px 5px grey);
}

.spider {
    margin-top: 1rem;
    width: 5rem;
    position: absolute;
    filter: drop-shadow(5px 10px 10px grey);
}

/* spider animated */

.spiderMove:hover .spider {
    animation: shake 0.1s infinite,
        straightLine 3s linear;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.7s, opacity 1s linear;
}


@keyframes straightLine {
    50% {
        transform: translate3D(700px, -500px, 0);
    }
}


.endEvent:hover {
    background-color: black;
    color: white;
    transition: background-color 0.2s, color 1.5s linear;
}

.aHat {
    width: 100%;
    filter: grayscale(0.7) drop-shadow(0px -10px 5px grey);
}

.aHatMove:hover .aHat {
    animation: aHatMove 1s linear;

}

@keyframes aHatMove {

    30% {
        filter: grayscale(1) drop-shadow(0px -10px 10px grey);
    }

    50% {
        filter: grayscale(0.5) drop-shadow(0px -10px 20px grey);
    }

    70% {
        filter: grayscale(0.7) drop-shadow(0px -10px 10px grey);
    }

    100% {
        filter: grayscale(1) drop-shadow(0px -10px 5px grey);
    }

}

/* section05 促案區 */
.section05 {
    color: white;
    padding: 1rem;
    background-image: url(../img/1920_1080_wallpaper_01.png);
    background-repeat: repeat;
    background-size: cover;
}

.booksPromoHeader {
    margin: 3rem;
    text-align: center;
}


.booksPromoSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.booksPromoSetContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.booksPromoSet {
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--coverAndTextBackground)10%, var(--coverAndTextBackgroundTransparent) 70%);
}

.booksPromoSet h2 {
    margin: 1rem;
}

/* .booksPromoSet span {
    margin: 1rem;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: black;
    background-color: white;
}

.booksPromoSet span:hover {
    background-color: black;
    color: white;
} */


.booksPromoSet .booksDuoSet {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;

}

.booksPromoSet .booksDuoSet .coverAndText {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    align-items: center;
    justify-content: flex-start;
    background-color: grey;
    box-shadow: 5px 5px 5px black;
}


.booksPromoSet .bookCoverImg {
    /* border: solid 5px red; */
    width: 100%;
    aspect-ratio: 3/4;
    padding: 1rem;
}

.section05 .coverAndText p {
    padding: 0rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

.section05 h3 {
    text-align: left;
    margin-right: 2rem;
}

/* 
.booksPromoSection {
    display: flex;
    gap: 1rem;
    margin: 2rem;

}

.booksPromoSetContainer {
    height: 100%;
    border: green solid 5px;
    margin: 1rem;
}

.section05 .booksPromoSet {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--coverAndTextBackground)20%, var(--coverAndTextBackgroundTransparent) 50%);
    border-radius: 2rem;
    justify-content: space-between;
}

.section05 .booksDuoSet {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    border: red solid 5px;
}


.section05 .bookCoverImg {
    padding: 1rem;
    width: 100%;
}

.section05 .coverAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: grey;
    border-radius: 1rem;
    flex: 0 0 50%;
}

.section05 .coverAndText p {
    font-size: 1.5rem;
} */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--bkLinearTransparentGrey09);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
    color: white;
}